In [2]:
# linear algebra
import numpy as np 

import random as rn

# data processing, CSV file I/O (e.g. pd.read_csv)
import pandas as pd

Input data files are available in the read-only "../input/" directory
For example, 
running this (by clicking run or pressing Shift+Enter) will list all files under the input directory.





The **OS module** in Python provides-
- functions for creating and 
- removing a directory (folder), 
- fetching its contents, 
- changing and identifying the current directory, etc

In [3]:
import os
for dirname, _, filenames in os.walk('./input'):# here /input is file name
    for filename in filenames:
        print(os.path.join(dirname, filename))

./input\60k-stack-overflow-questions-with-quality-rate\train.csv
./input\60k-stack-overflow-questions-with-quality-rate\valid.csv
./input\datasets-for-pandas\abc.csv
./input\datasets-for-pandas\abc2.csv
./input\datasets-for-pandas\data1.csv
./input\datasets-for-pandas\score.csv
./input\datasets-for-pandas\uk-500.csv
./input\rj-sample-datasets\sample-transaction.csv
./input\rj-sample-datasets\sample.db
./input\rj-sample-datasets\Students Score - Sheet1.csv
./input\rj-sample-datasets\transaction-1.csv
./input\rj-sample-datasets\transaction-2.csv

In [4]:
import warnings
warnings.filterwarnings('ignore')


import functools

Functools module is for higher-order functions that work on other functions. It provides functions for working with other functions and callable objects to use or extend them without completely rewriting them.


<a id="top"></a>

<div class="list-group" id="list-tab" role="tablist">

<font color="teal" size=+1><b>Content List</b></font>
    
* [1. Check Pandas Version](#1)
* [2. Create Numpy Array: Create three columns with Zero values](#2)
* [3. iLoc in Pandas : Print first five rows](#3)
* [4. Create Random integer between 2 to 10 with 4 items](#4)
* [5. Create Random integer between 0 to 100](#5)
* [6. Create Random integer between 2 to 10 with 4 columns](#6)
* [7. 2D array with random between 0 and 5](#7)
* [8. Create Random integer between 0 to 100 with 10 itmes (2 rows, 5 columns)](#8)
* [9. 3 rows, 2 columns in pandas](#9)
* [10. Fill Random Science and Math Marks](#10)
* [11. CSV to DatRaframe (from_csv)](#11)
* [12. CSV to Dataframe (from_csv)](#12)
* [13. First 4 rows and 2 columns of CSV](#13)
* [14. Show even rows and first three columns](#14)
* [15. New columns as sum of all](#15)
* [16. Delete Rows of one column where the value is less than 50](#16)
* [17. Delete with Query](#17)
* [18. Skip single row](#18)
* [19. Skip multiple rows](#19)
* [20. Select Column by Index](#20)
* [21. Skip rows](#21)
* [22. String to Dataframe](#22)
* [23. New columns as max of other columns](#23)
* [24. New columns as max of other columns](#24)
* [25. New columns as max of other columns](#25)
* [26. Fill with average](#26)
* [27. New columns as sum of all](#27)
* [28. Unicode issue and fix](#28)
* [29. Fill with average](#29)
* [30. Last 4 rows](#30)
* [31. Expanding Apply](#31)
* [32. Get 3 and 4th row](#32)
* [33. Last 4th to 1st](#33)
* [34. iloc position slice](#34)
* [35. Loc - iloc - ix - at - iat](#35)
* [36. Random data](#36)
* [37. Filter with the value comparison](#37)
* [38. Filter between 5 and 10 on col 1](#38)
* [39. Filter between 15 to 20](#39)
* [40. Filter between 15 to 33](#40)
* [41. Custom method and xrnage on dataframe](#41)
* [42. Set index with date column](#42)
* [43. Change columns based on other columns](#43)
* [44. Change multiple columns based on one column values](#44)
* [45. Pandas Mask](#45)
* [46. Check high or low comparing the column against 5](#46)
* [47. Student Marks (Pass or Fail)](#47)
* [48. Get passed grades](#48)
* [49. Students passed in Language and Math](#49)
* [50. Students passed in Language and Science](#50)
* [51. Loc with Label oriented slicing](#51)
* [52. iloc with positional slicing](#52)
* [53. Label between numbers](#53)
* [54. Stars with names](#54)
* [55. Row label selection Age is above 25 and movies above 25](#55)
* [56. Stars in in certain ages](#56)
* [57. Inverse opeartor !( above one.45 and below two.50 )](#57)
* [58. Apply custom function](#58)
* [59. Group by single column](#59)
* [60. Creating new Columns using Applymap Sides & applymap](#60)
* [61. Replacing some values with mean of the rest of a group](#61)
* [62. Students passed in Language or Science (any one subject)](#62)
* [63. possible errors: TypeError: 'Series' objects are mutable, thus they cannot be hashed](#63)
* [64. argsort Select rows with data closest to certain value using argsort](#64)
* [65. argsort with stars](#65)
* [66. Argsort with actors - young stars (near by 17)](#66)
* [67. Binary operators - Stars with - younger than 19 - very young](#67)
* [68. Young, Higher Salary, and Higher Position](#68)
* [69. Rename columns](#69)
* [70. Add a new column](#70)
* [71. Drop a column](#71)
* [72. Drop multiple columns](#72)
* [73. Drop first and last column](#73)
* [74. Delete by pop function](#74)
* [75. DataFrame.from_items](#75)
* [76. Pandas to list](#76)
* [77. Pandas rows to list](#77)
* [78. Pandas rows to array](#78)
* [79. Pandas rows to map](#79)
* [80. Pandas rows to map](#80)
* [81. Drop duplicates](#81)
* [82. Selecting multiple columns](#82)
* [83. Selecting multiple columns](#83)
* [84. Row and Column Slicing](#84)
* [85. Iterating rows](#85)
* [86. Iterating tuples](#86)
* [87. Iterating rows and columns](#87)
* [88. List of Dictionary to Dataframe](#88)
* [89. Is Null](#89)
* [90. Sum of all nan](#90)
* [91. Sum of all nan rowwise](#91)
* [92. Sum of all nan as list](#92)
* [93. Change the order of columns](#93)
* [94. Drop multiple rows](#94)
* [95. Drop multiple rows by row name](#95)
* [96. Get group](#96)
* [97. Get the the odd row](#97)
* [98. Get the even columns](#98)
* [99. Odd rows and even columns](#99)
* [100. Drop duplicates](#100)
* [101. Drop all duplicates](#101)
* [102. Basic group by](#102)
* [103. Missing Data: Make A'th 3rd coulmn Nan](#103)
* [104. Reindex](#104)   
* [105. Column reset Nan](#105)  
* [105. XY](#105)  
* [106. XY](#106)  
* [107. Match with isin function](#107)  
* [108. Finding specific items by using `isin` function](#108)  
* [109. Exclude specific matching](#109)  
* [110. Apply a custom function on multiple columns](#110)  
* [111. iterrows as tuples](#111)  
* [112. Dataframe with NaN](#112)  
* [113. Simple Dataframe with NaN](#113)  
* [114. Pandas and Date with Range](#114)  
* [115. Pandas and Numpy Repeat](#115)  
* [116. read_sql in Pandas](#116)  
* [117. Get a single value by iat](#117)  
* [118. Get last n elements](#118)  
* [119. Add data one by one by using loc function](#119)  
* [120. Convert country in Dataframe](#120)  
* [121. Group by multiple columns](#121)  
* [122. Compare two dataframes](#122)  
* [123. Difference between datetime by only seconds or dates](#123)  
* [124. Get dates and delta days in Dataframe](#124)  
* [125. Get dates and delta days in Dataframe](#125)  
* [126. Date addition with time delta](#126)  
* [127. Converting Pandas innner list to numpy array without the word `list`](#127)  
* [128. Append series to existing Dataframe](#128)  
* [129. Cumulative sum with group by with multiple values](#129)  
* [130. Clean URL in Pandas String (remove string after specific item)](#130)  
* [131. Find any matching value](#131)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="1"></a>
        <font><b>Task 1:</b></font>
        <br><br>
        Check Pandas Version
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [5]:
print('Task 1:')
print(pd.__version__)

Task 1:
1.4.2

<div style="">
    <div style="float: left; width: 80%;">
        <a id="2"></a>
        <font><b>Task 2:</b></font>
        <br><br>
        Create Numpy Array
        <br>
        Create three columns with Zero values
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [7]:
dtype=[('col1','int32'), 
       ('col2','float32'),
       ('col3','float32')]

values=np.zeros(20, dtype=dtype)
values

array([(0, 0., 0.), (0, 0., 0.), (0, 0., 0.), (0, 0., 0.), (0, 0., 0.),
       (0, 0., 0.), (0, 0., 0.), (0, 0., 0.), (0, 0., 0.), (0, 0., 0.),
       (0, 0., 0.), (0, 0., 0.), (0, 0., 0.), (0, 0., 0.), (0, 0., 0.),
       (0, 0., 0.), (0, 0., 0.), (0, 0., 0.), (0, 0., 0.), (0, 0., 0.)],
      dtype=[('col1', '<i4'), ('col2', '<f4'), ('col3', '<f4')])

In [8]:
len(values)

20

In [16]:
index = ['Row'+str(i) for i in range(1, len(values)+1)]
print(index)

['Row1', 'Row2', 'Row3', 'Row4', 'Row5', 'Row6', 'Row7', 'Row8', 'Row9', 'Row10', 'Row11', 'Row12', 'Row13', 'Row14', 'Row15', 'Row16', 'Row17', 'Row18', 'Row19', 'Row20']

In [17]:
df = pd.DataFrame(values, index=index)
df.head

<bound method NDFrame.head of        col1  col2  col3
Row1      0   0.0   0.0
Row2      0   0.0   0.0
Row3      0   0.0   0.0
Row4      0   0.0   0.0
Row5      0   0.0   0.0
Row6      0   0.0   0.0
Row7      0   0.0   0.0
Row8      0   0.0   0.0
Row9      0   0.0   0.0
Row10     0   0.0   0.0
Row11     0   0.0   0.0
Row12     0   0.0   0.0
Row13     0   0.0   0.0
Row14     0   0.0   0.0
Row15     0   0.0   0.0
Row16     0   0.0   0.0
Row17     0   0.0   0.0
Row18     0   0.0   0.0
Row19     0   0.0   0.0
Row20     0   0.0   0.0>

In [18]:
df = pd.DataFrame(values)
df.tail()

    col1  col2  col3
15     0   0.0   0.0
16     0   0.0   0.0
17     0   0.0   0.0
18     0   0.0   0.0
19     0   0.0   0.0

In [19]:
df = pd.DataFrame(values)
df.head()

   col1  col2  col3
0     0   0.0   0.0
1     0   0.0   0.0
2     0   0.0   0.0
3     0   0.0   0.0
4     0   0.0   0.0

<div style="">
    <div style="float: left; width: 80%;">
        <a id="3"></a>
        <font><b>Task 3:</b></font>
        <br><br>
        iLoc in Pandas
        <br>
        Print first five rows
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [21]:
print('Task 3:')
df = pd.read_csv('./input/datasets-for-pandas/data1.csv', sep=';', header=None)
print(df.iloc[:5]) # 0 - 4 = 5 values

Task 3:
                       0
0  capacity,score,length
1                1,10,30
2                2,20,30
3                3,30,40
4                3,40,30

<div style="">
    <div style="float: left; width: 80%;">
        <a id="4"></a>
        <font><b>Task 4:</b></font>
        <br><br>
        
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>